/*Titles*/

h1, h2, h3, h4, h5, h6, h7 {
  color:#800000;
  font-weight: bold;
  margin-top: 1.5em;
  margin-bottom: 1.5em;}

h1 {font-size: 135%;}
  
h2 {font-size: 130%;}

h3 {font-size: 125%;}
  
h4{font-size: 120%;}

h5 {font-size: 115%;}

h6 {font-size: 110%;}
    
h7 {font-size: 105%;}

h1.title, h2.title, h3.title, h4.title, h5.title, h6.title, h7.title {
  font-weight: bold;
  padding-bottom: 10px;
  margin-top: 1.5em;
  margin-bottom: 1.5em;}
  
.bridgehead {
  margin-top: 5pt;
    color:#800000;
  font-weight: bold;
}

/*Refenty*/
.refentrytitle {
  font-size: 100%;
  }

.refnamediv { 
  margin-top: 1em;
 }
.refnamediv * { 
  margin-top: 0pt;
  margin-bottom: 0pt;
 }

.refname { 
  line-height: normal;
 }

.refclass {
   text-align: right;
 }

.refsect1 h2, h3, h4 {
font-size: 120%;
margin-top: 0.5em;
margin-bottom: 0.5em;
padding-top: 0em;
padding-bottom: 0em;}

.refsect1 p {
margin-top: 0.5em;
margin-bottom: 0.5em;
padding-top: 0em;
padding-bottom: 0em;}

.refsection h2 {
font-size: 130%;
color: #800000;
margin-top: 0.5em;
margin-bottom: 0.5em;
padding-top: 0em;
padding-bottom: 0em;}

.refsection h4 {
font-style: italic;
color: #800000;}

/*Font styles*/
pre {
font-family: "Courier New",Courier,monospace;
}

/*General styles*/

.warning {
  border-width: 1pt;
  border-style: solid;
 }

.sidebar { 
  background-color: rgb(255, 255, 165);
  float: right;
  width: 300px;
  padding-left: 1em;
  padding-right: 1em;
  text-align: left;
 }

.sidebar .title { 
  text-align: center;
  background-color: black;
  color: white;
  font-size: 120%;
  margin-left: -1em;
  margin-right: -1em;
  margin-top: 0em;
  padding-top: 1pt;
  padding-bottom: 1pt;
 }

.screen {
  background-color: #E0E0E0;
}
 
.msg { 
  font-weight: bold;
 }

.msg p { 
  margin-bottom: 0pt;
  margin-top: 0pt;
 }

.msgexplan { 
  margin-left: 1em;
}

.msgexplan p { 
  margin-top: 0pt;
  margin-bottom: 0.5em;
 }

.example { 
  margin-left: 2em;
  margin-right: 2em;
  margin-bottom: 1em;
  padding-left: 1em;
  padding-right: 1em;
  margin-top: 1em;
 }

.example .title b { 
  padding-left: 2pt;
  padding-right: 2pt;
}

/*widgets(MAPDL) have no nagvigation-->*/
.widget .navheader {
 height: 0pt;
display: none;
}

.widget .navfooter {
 display: none;
}


p.top  {
 color: white;
margin-top: 0px; 
background-color: gray;
margin-bottom: 0px;
}


.logo img.logo { 
position: absolute;
top: 0px;
left: 0px;
}	

td.navheadertable { 
font-size: 75%;
}

.path  {
 width: 100%;
color: black;
text-align: left;
 background-color: lightgrey;
}

td.navfootertable {
font-size: 75%;
}

.legalfooter {

  color: gray;
  text-align: center;
}

.datefooter  {
 color: gray;
 text-align: center;
}

@media print {
.navheader {display: none}
.usernavheader {display: none}
.navfooter {display:none}
.hideable { display: block; }
  body { 
    margin-top: 0pt;
    padding-top: 18px;
  }
}

/* Browser specific (not valid) styles to make preformatted text wrap */		

pre {
 white-space: pre-wrap;       /* css-3 */
 white-space: -moz-pre-wrap;  /* Mozilla, since 1999 */
 white-space: -pre-wrap;      /* Opera 4-6 */
 white-space: -o-pre-wrap;    /* Opera 7 */
 word-wrap: break-word;       /* Internet Explorer 5.5+ */
}

 .section h2,  .chapter h2,  .sect1 h2 {
	display: block;
}

 .section strong,  .chapter strong,  .section strong em,  .chapter strong em {
	font-weight: bold !important;
}

body {
   font-family: Tahoma, Arial,Helvetica,sans-serif;
   font-size: 16px;
}

p {
font-size: 16px;
}

table
{
border-spacing: 40px; 
border-collapse:collapse;
vertical-align: top;
}

.informaltable
{
border-spacing: 40px; 
border-collapse:collapse;
vertical-align: top;
}

th{
padding: 4px; 
border-collapse:collapse;
vertical-align: top;
}

td{
padding: 4px; 
border-collapse:collapse;
vertical-align: top;
}

.userinput
{
font-family: "Courier New",Courier,monospace;
font-weight: bold;
font-size: 16px;
}

.systemitem
{
font-family: "Courier New",Courier,monospace;
font-size: 16px;
}

.filename
{
font-family: "Courier New",Courier,monospace;
font-weight: normal;
}

.screen
{
font-family: "Courier New",Courier,monospace;
font-weight: normal;
padding: 4px; 
}

table td .itemizedlist li li{
list-style: circle;
    margin-left:-5pt;
}
.guisubmenu {font-weight: bold;}

div.warning p {margin-left:12px;}

div.informalequation {
	padding-bottom: 10px;
	text-align:center;
}

.toc > dl > dt > dd {
    margin:0px;
    padding:0px;
    }

span[class='inlineequation'] > img{
    padding-bottom:0px;
}

.variablelist td {
  vertical-align:top;     
}

.informaltable td {
	vertical-align: top;
}

.informaltable th {
	font-weight: bold;
	padding: 5px;
	vertical-align: top;
}

.informaltable table {
	margin-bottom: 10px;
}
.programlisting { 
  background-color: #E0E0E0;
  margin-left: 2em;
  margin-right: 2em;
  padding-left: 1em;
  font-size:14px;  
 }

.simplelist {
  margin-left:1em;
 }
 
 td.navheadertable, td.navfootertable {
	font-size: 14px !important;
}
.toc dl dl {
	padding: 5px 0 0 20px;
}
.toc dt {
	padding: 5px 0 0 20px;
}
.legalfooter small, .datefooter small {
	font-size: 14px !important;
}

 .note,  .tip,  .important,  .caution,  .warning {
	/*border-top: 1px dashed #DDDDDD;
	border-bottom: 1px dashed #DDDDDD;*/
	border: 1px dashed #aaa;
	padding: 5px;
	margin: 5px;
	background: #efefef;
}

 .section dt,  .index dt {
	padding: 5px 0 0 0;
	font-weight: normal;
}

 .section dd,  .index dd {
	padding: 5px 0 5px 20px;
}

 hr {
	display: none;
}
